<div class="main">
    <div class="main-child-login">
    <div class="form-section">
      <form class="forgot-form">
        <img id="error-img" src="../../assets/error-alert.svg" />
        <h2 id="form-title-error">Oops, algo deu errado! Confime seus dados e tente novamente! </h2>
        <a [routerLink]="['/login']" routerLinkActive="router-link-active" id="error-button-link">
            <button id="error-button">
                Voltar
            </button>
        </a>
      </form>
    </div>
    </div>
</div>
<app-footer></app-footer>